<div>
  <% if (locals.user){ %>
  <form action="/comments/create" method="POST">
    <input
      type="text"
      name="content"
      placeholder="Type Here to add comment..."
      class="block mb-2 w-full text-sm font-medium text-gray-900 dark:text-white"
      required
    />
    <input type="hidden" name="post" value="<%= post._id %>" />
    <input
      type="submit"
      class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400"
      value="Add Comment"
    />
  </form>

  <% } %>
  <ul>
    <%for(comment of post.comments){%>
    <div>
      <span><%=comment.user.name%></span>
      <div>
        <p><%=comment.content%></p>
      </div>
      <% if(locals.user &&
      ((locals.user.id==comment.user.id)||(post.user.id==locals.user.id))){%>
      <small>
        <a href="posts/destroy/<%=post.id%>">delete</a>
      </small>
      <%}%>
    </div>

    <%}%>
  </ul>
</div>
