<div class="w-full h-max-1/5 bg-white p-6">
  <%for(post of posts){%>
  <div class="w-3/4  bg-blue-100 relative p-6 mb-8 mx-auto border border-gray-200 rounded-lg shadow-lg ">
    <span class="block w-full text-blue-600 rounded-xl mx-auto text-center m-2"><%=post.user.name%></span>
    <div class="h-1/2 w-3/4 mx-auto bg-blue-50 rounded-xl text-center">
      <p class=""><%=post.content%></p>
    </div>
    <% if(locals.user && locals.user.id==post.user.id){%>
    <small class="absolute bottom-0 right-0 p-2">
      <a href="posts/destroy/<%=post.id%>" class="bg-red-500  p-2 font-bold text-red-100 rounded-xl"> Delete</a>
    </small>
    <%}%> <%-include('_comment')%>
  </div>
  <%}%>
</div>
