
 <h1>
     Void / <%= title %>
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <button type="submit"> Add post</button>
    </form>
</section>
