<h1>Void / <%= title %></h1>

<section id="feed-posts">
  <%if(locals.user){%>
  <h4>Posts</h4>
  <form action="/posts/create" id="new-post-form" method="post">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button type="submit">Add post</button>
  </form>
  <%}%>

  <div class="posts-container">
    <ul>
      <p>
        <%for(post of posts){%>
        <li><%=post.content%></li>
        <small><%=post.user.name%></small>
        <form action="/posts/add-comment" method="post">
            <input type="text" name="comment" placeholder="comment">
            <button type="submit">post comment</button>
        </form>
      </p>
      <%}%>
    </ul>
  </div>
</section>
